<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El ahorcado</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/css/normalize.css">
    <link rel="stylesheet" href="../../assets/css/base.css">
    <link rel="stylesheet" href="../../assets/css/modules.css">
    <link rel="stylesheet" href="../../assets/css/header.css">
    <link rel="stylesheet" href="../../assets/css/main.css">
    <link rel="stylesheet" href="../../assets/css/footer.css">
</head>
<body>
    
    <header class="header">
        <section class="container">
            <img src="../../assets/images/logo.svg" alt="Logo del juego del ahorcado" class="header__image">
        </section>
    </header>

    <main class="main container">
        <form class="form">
            <textarea class="form__textarea" placeholder="Ingrese una palabra"></textarea>
            <div class="form__buttons">
                <span class="form__warning">Máx. de 8 letras</span>
                <a href="../game/index.html" class="button button--primary">Guardar y empezar</a>
                <a href="../../" class="button button--secondary">Cancelar</a>
            </div>
        </form>
    </main>

    <footer class="footer">
        <section class="container">
            <h2 class="footer__title">Desarrollado por <a href="https://www.linkedin.com/in/amaujipe/" target="_blank">Andres Jimenez</a></h2>
            <p class="footer__paragraph">Oracle ONE - Allura Challenges</p>
        </section>
    </footer>

</body>
</html>